:root {
    --main-color: #334bb6;
    --main-bg-color: #e9eff7;
    --main-font-color: #131515;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

header {
    background-color: var(--main-color);
    margin: 0 auto;
    display: flex;
    color: var(--main-bg-color);
    padding: 0 1rem;
    font-size: .9rem;
}