body {
    background-color: #F3EAF4;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #523178;
    color: #F3EAF4;
    padding: 1em;
    margin: auto;
    text-align: left;
}

main {
    width: 600px;
    margin: auto;
}