#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cards section {
    border: 1px solid #000;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 500px;
}

#cards img {
    max-width: 100%;
    height: auto;
}

#cards h2 {
    margin-bottom: 10px;
}

#cards a {
    color: #007BFF;
    text-decoration: none;
}

#cards a:hover {
    text-decoration: underline;
}

#cards p {
    margin: 5px 0;
}