@media screen and (min-width: 500px) {
    main.sidebar {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    main.column1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

    .hover:hover {
        box-shadow: 0 0 50px #333;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .call-to-action {
        grid-column: 1/3;
    }

    .events {
        grid-column: 1/2;
    }

    .weather {
        grid-column: 2/3;
    }

    .spotlights {
        grid-column: 1/3;
    }
}