body {
    font: 14px Arial, Verdana, sans-serif;
}

main {
    width: 600px;
    margin: auto;
}

header {
    padding: .5rem;
    background-color: rgb(83, 14, 148);
    color: azure;
    margin: auto;
    text-align: center;
}

h1 {
    margin: auto;
}

.grid-container {
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto 600px auto;
    grid-template-rows: min-content;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.grid-item1,
.grid-item2,
.grid-item3 {
    grid-column: 2 / span 1;
    width: 600px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
}

.grid-item1 {
    grid-row: 1 / span 1;
}

.grid-item2 {
    grid-row: 2 / span 1;
}

.grid-item2 ul {
    list-style-type: none;
    text-align: left;
}

.grid-item3 {
    grid-row: 3 / span 1;
}


#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

.stuff {
    margin: .5m;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;

}

h3::first-letter {
    text-emphasis: open;
}



@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }
}